.input-group
{

}
/*
input {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0;
    font: 13.3333px Arial;

    user-select: text;
    cursor: auto;

    line-height: normal;

    position: relative;

    !*padding: 0.8em 3em 0.8em 0.8em;*!
    color: #222;
    border-radius: 3px;
    font-size: 1.4em;
}
*/
