.JJT_automatic_dropdown_menu
{
    display: none;
    position:absolute;
    margin-left:1045px;
    padding:0;
    font-family:"Microsoft YaHei UI";
    font-size:30px;
}

.JJT_automatic_dropdown_menu ul
{
    padding:0;

    list-style-type: none;
    background-color:rgb(73,73,73);
}

.JJT_automatic_dropdown_menu ul li
{
    width:165px;
    padding-top:5px;
    padding-bottom:5px;
}

.JJT_automatic_dropdown_menu ul li:hover
{
    background-color: rgb(50,50,50);

}

.JJT_automatic_dropdown_menu ul li a
{
    display:block;

    text-decoration: none;
    text-align: center;
    color:white;
}


.JJT_nav_container
{
    background: #333333;
    margin-left:210px;
    margin-right:210px;
    margin-top:20px;
    margin-bottom:-3px;
    display: inline-block;
}

.JJT_nav_container ul
{
    list-style-type:none;
    margin:0;
    padding:0;
}

.JJT_nav_container ul li
{
    float:left;
    height:50px;
}

.JJT_nav_container ul li a
{
    font-family:"Microsoft YaHei UI";
    color:slategrey;
    font-size:30px;
    /*font-weight: bold;*/
    width:165px;
    display:block;
    text-align: center;
    padding:5px;
}

.JJT_nav_container ul li a:hover
{
    text-decoration:none;
    background:#222225;
}

.JJT_nav_container ul li a:link
{
    text-decoration:none;
}

.JJT_breadcrumb
{
    font-size:30px;
    font-family: "Microsoft YaHei UI";
    font-weight:bold;
    list-style-type: none;
    background-color:rgba(70,70,70,0.1);
    border-radius:10px;
}

.JJT_breadcrumb li a
{
    text-decoration:none;
}

.JJT_breadcrumb li a:hover
{
    text-decoration: none;
    color:lightskyblue;
}

.JJT_BigTitle
{
    margin:10px;
    text-align:center;
    font-family:"Microsoft YaHei UI";
    color:dimgrey;
    font-weight:bold;
    font-size:40px;
}

.JJT_dropdown
{
    cursor:default;
    font-family:"Microsoft YaHei UI";
    /*font-weight:bold;*/
    font-size:35px;
    color:rgb(100,100,100);
    width:300px;
    padding:0;
    border-bottom:solid rgba(33,33,33,0.1);
    /*background:#2a6496;*/
    background:rgba(160,160,160,0.5);
    text-align:center;
    list-style-type:none;
    margin:0 auto;

}

.JJT_dropdown:hover
{
    background:rgba(160,160,160,1);
}

.JJT_dropdown li
{
    color:rgb(90,90,90);
    margin:0 auto;
    /*background:#66afe9;*/
    background:rgba(220,220,220,2);
}
.JJT_dropdown li:hover
{
    background:rgb(200,200,200);
}

.JJT_dropdown li a
{
    text-decoration:none;
    color:rgb(130,130,130);

}

.JJT_dropdown_item
{
    text-decoration:none;
    display:none;
    font-size:30px;
    background:#adadad;
}

.passagedetail
{
    background:rgba(22,22,22,0.02);
    height:800px;
    font-family:"Microsoft YaHei UI";
    font-size:30px;
}

.JJT_Botton_To_Top
{
    opacity:0.5;
    position:fixed;
    bottom:20px;
    right: 20px;
    /*weight:60px;*/
    height:60px;
}

.JJT_Botton_To_Top:hover
{
    opacity:1;
}

.icon-gc
{
    position:relative;
    weight:100px;
    height:100px;
    padding:5px;
    top:60px;

}

.icon
{
    width:300px;
}

.JJT_author
{
    font-family:"Microsoft YaHei UI";
    display:inline-block;
    font-size:12px;
    margin-left:680px;
    padding:5px;
}

.JJT_search
{
    margin-top:20px;
    margin-left:1080px;
}

.JJT_search_input
{
    border:none;
    border-radius:18px;
    background-color:rgba(74,74,74,0.1);
    padding:8px 50px 8px 14px;
    outline:none;
    font-family:"Microsoft YaHei UI";
    color:rgb(74,74,74);
}

.JJT_search_input:hover
{
    border:2px solid rgba(74,74,74,0.3);
    padding:6px 48px 7px 12px;
}

.JJT_search_button
{

    position:relative;
    opacity: 0.3;
    height:25px;
    width:25px;
    top:-2px;
    right:38px;
}

.JJT_search_button:hover
{
    opacity:0.8;
}
