.blogindexpage-thumbnail-lyc {

    width: 240px;

}
/*#css-lyc-allthumbnail{*/
    /*position: relative;*/
   /*top: 50px;*/
/*}*/
#css-lyc-button-nextpage {
    float:right;
    position:relative;
    right:14px;

}
#css-lyc-button-lastpage {
    float:left;
    position:relative;
    left:14px;
}
.menu {
    margin-bottom: 15px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
}
.menu-heading:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.menu-heading {
    display: block;
    padding: 8px 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: #586069;
    background-color: #f3f5f8;
    border-bottom: 1px solid #e1e4e8;
}

.menu-item.selected {
    font-weight: 600;
    color: #24292e;
    cursor: default;
    background-color: #fff;
}

.menu-item.selected::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    content: "";
    background-color: #e36209;
}

.menu-item {
    position: relative;
    display: block;
    padding: 8px 10px;
    border-bottom: 1px solid #e1e4e8;
}